<header>
    <div class="d-flex align-content-between flex-wrap">
        <img src="../../../assets/imgs/LogoImgs.png" class="mx-auto mt-5 logo">
    </div>
</header>
<h1 class="tituloLogin">Iniciar Sesión</h1>
<div class="formulario">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-section my-3">
            <label for="email"></label>
            <input formControlName="email" [ngClass]="{'campo-incorrecto': !campoValido('email')}" class="form-control" placeholder="Email" type="email" required>
        </div>
        <p class="small text-danger font-italic invalid-msg" *ngIf="!campoValido('email')">* El email es obligatorio y debe ser válido</p>
        <div class="input-section my-3">
            <label for="password"></label>
            <input *ngIf="mostrarPass" [ngClass]="{'campo-incorrecto': !campoValido('password')}" formControlName="password" class="form-control" type="text" placeholder="Contraseña" required>
            <input *ngIf="!mostrarPass" [ngClass]="{'campo-incorrecto': !campoValido('password')}" formControlName="password" class="form-control" type="password" placeholder="Contraseña" required>
            <i *ngIf="!mostrarPass" class="fa-solid fa-eye fa-2x" (click)="mostrarPassword()"></i>
            <i *ngIf="mostrarPass" class="fa-solid fa-eye-slash fa-2x" (click)="mostrarPassword()"></i>
            <!-- <i class="fa-solid fa-eye-slash fa-3x"></i> -->
        </div>
        <p class="small text-danger font-italic invalid-msg" *ngIf="!campoValido('password')">* La contraseña es obligatoria</p>
        <div>
            <a routerLink="/recovery" class="link-primary forgot-pswd enlace mb-5">He olvidado mi contraseña</a>
        </div>
        <button class="big-button mt-4" type="submit">
          <i class="fa fa-spinner fa-spin mr-2"*ngIf="waiting"></i>
          Entrar
        </button>
        <div>
            <label class="checkbox">
              <input formControlName="remember" type="checkbox"> Recuérdame
          </label>
        </div>

    </form>
</div>
<div>
    <h3 class="tituloLogin2">Inicia Sesión con:</h3>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- <div class="g-signin2" data-onsuccess="onSignIn()" data-onfailure="onSignInFailure()">
    </div> -->
    <div id="my-signin2" class="d-flex m-auto justify-content-center pt-3">
        <img class="loginLogo" src="../../../assets/imgs/logoGoogle.png">
    </div>
    <!-- <div id="my-signin2" class="btn btn-neutral btn-icon"> -->
    <!-- <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg" alt=""></span> -->
    <!-- <span class="btn-inner--text text-dark">Google</span> -->
    <!-- </div> -->
</div>
<div class="d-flex mx-auto justify-content-center mt-3">
    <p class="enlace">¿No tienes cuenta? <a routerLink="/registro" class="signin"> Regístrate</a></p>
</div>